*, *::after, *::before {
	box-sizing: border-box;
}

body {
	background: #303972;
	margin: 0;
}

/*page accueil*/
.accueil {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 141px;
	grid-row-gap: 141px;
	margin-right: 108px;
	margin-left: 108px;
	margin-top: 100px;
	margin-bottom: 100px;
}

h1 {
	color: #FFF;
	font-family: 'Kanit', sans-serif;
	font-size: 9vw;
	border-bottom: 8px solid white;
	margin-bottom: 21px;
}

p {
	color: white;
	font-family: 'Kanit', sans-serif;
	font-size: 1.6vw;
}

img {
	margin: auto;
	width: 100%;
	height: auto;
}

/*scroll vers le bas */
/* animation sur le bouton */


.scroll-accueil{
	opacity: 1;
	-webkit-transition: all .5s ease-in 3s;
	transition: all .5s ease-in 3s;
  }
  
.scroll-accueil{
	
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left:-16 px;
	display: block;
	width: 32px;
	height: 32px;
	border: 3px solid #FFF;
	background-size: 14px auto;
	border-radius: 50%;
	z-index: 2;
	-webkit-animation: bounce 2s infinite 2s;
	animation: bounce 2s infinite 2s;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	transform: scale(1)
	
}
  
.scroll-accueil:before {
	  position: absolute;
	  top: calc(50% - 8px);
	  left: calc(50% - 6px);
	  transform: rotate(-45deg);
	  display: block;
	  width: 12px;
	  height: 12px;
	  content: "";
	  border: 3px solid white;
	  border-width: 0px 0 2px 2px;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
/* scroll2 */
.scroll-poprock{
	opacity: 1;
	-webkit-transition: all .5s ease-in 3s;
	transition: all .5s ease-in 3s;
  }
  
.scroll-poprock {
	
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left:-16 px;
	display: block;
	width: 32px;
	height: 32px;
	border: 3px solid #FFF;
	background-size: 14px auto;
	border-radius: 50%;
	z-index: 2;
	-webkit-animation: bounce 2s infinite 2s;
	animation: bounce 2s infinite 2s;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	transform: scale(1)
	
}
  
.scroll-poprock:before {
	  position: absolute;
	  top: calc(50% - 8px);
	  left: calc(50% - 6px);
	  transform: rotate(-45deg);
	  display: block;
	  width: 12px;
	  height: 12px;
	  content: "";
	  border: 3px solid white;
	  border-width: 0px 0 2px 2px;
}


/* scroll3 */
.scroll-graphique{
	opacity: 1;
	-webkit-transition: all .5s ease-in 3s;
	transition: all .5s ease-in 3s;
	
  }
.scroll-graphique{
	position: absolute;
	left: 50%;
	margin-left: -16px;
	display: block;
	width: 32px;
	height: 32px;
	border: 3px solid #FFF;
	background-size: 14px auto;
	border-radius: 50%;
	z-index: 2;
	-webkit-animation: bounce 2s infinite 2s;
	animation: bounce 2s infinite 2s;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	transform: scale(1);
	margin-top:12px;
	
}
.scroll-graphique:before {
	position: absolute;
	top: calc(50% - 8px);
	left: calc(50% - 6px);
	transform: rotate(-45deg);
	display: block;
	width: 12px;
	height: 12px;
	content: "";
	border: 3px solid white;
	border-width: 0px 0 2px 2px;

}

.scroll-constat{
	opacity: 1;
	-webkit-transition: all .5s ease-in 3s;
	transition: all .5s ease-in 3s;
	
  }
.scroll-constat{
	position: absolute;
	left: 50%;
	margin-left: -16px;
	display: block;
	width: 32px;
	height: 32px;
	border: 3px solid #FFF;
	background-size: 14px auto;
	border-radius: 50%;
	z-index: 2;
	-webkit-animation: bounce 2s infinite 2s;
	animation: bounce 2s infinite 2s;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	transform: scale(1);
	margin-top:30%;
	
}
.scroll-constat:before {
	position: absolute;
	top: calc(50% - 8px);
	left: calc(50% - 6px);
	transform: rotate(-45deg);
	display: block;
	width: 12px;
	height: 12px;
	content: "";
	border: 3px solid white;
	border-width: 0px 0 2px 2px;

}

.scroll-apropo{
	opacity: 1;
	-webkit-transition: all .5s ease-in 3s;
	transition: all .5s ease-in 3s;
	
  }
.scroll-apropo{
	position: absolute;
	left: 50%;
	margin-left: -16px;
	display: block;
	width: 32px;
	height: 32px;
	border: 3px solid #FFF;
	background-size: 14px auto;
	border-radius: 50%;
	z-index: 2;
	-webkit-animation: bounce 2s infinite 2s;
	animation: bounce 2s infinite 2s;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	transform: scale(1);
	margin-top:30%;
	
}
.scroll-apropo:before {
	position: absolute;
	top: calc(50% - 8px);
	left: calc(50% - 6px);
	transform: rotate(-45deg);
	display: block;
	width: 12px;
	height: 12px;
	content: "";
	border: 3px solid white;
	border-width: 0px 0 2px 2px;

}


/*1er section*/
.poprock {
	height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 70px;
    margin-right: 108px;
    margin-left: 108px;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
	padding-top:5%;
	padding-bottom:5%;
}

h2 {
	color: #FFF;
	font-family: 'Kanit', sans-serif;
	font-size: 2vw;
	border-bottom: 5px solid white;
	border-bottom-width: 100%;
	border-bottom: 31.25%;
}

.popmusic {
	width: 85%;
	height: auto;
	border-radius: 22px;
	
}

.poptext {
	color: white;
	font-family: 'Kanit', sans-serif;
	font-size: 1.13vw;
}

.rockmusic {
	width: 75%;
	height: auto;
	border-radius: 22px;
	
	

}

.rocktext {
	color: white;
	font-family: 'Kanit', sans-serif;
	font-size: 1.13vw;

}

/*graphique*/
.stat {
	height: 100;
}

.graphic {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
	margin-top: 50px;
	margin-bottom: 100px;
	margin-left: 100px;
	margin-right: 100px;
}

.dim {
	width: 8%;
	height: 45px;
	margin: 0;
	background-color: rgb(162, 62, 255);
	font-family: 'Kanit', sans-serif;
	font-size: 2vw;
	color: white;
	text-shadow: 5px 5px 5px black;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	
}

/* Ajoutez des styles supplémentaires ou remplacez des styles spécifiques si nécessaire */
.dim:hover {
	background-color: rgb(83, 0, 161);
	transition: all 1s ease-out;
}

.dim:active {
	background-color: rgb(124, 47, 195);
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5%;
}

/*légende*/
.titre-legende {
	color:black;
	font-family: 'Kanit', sans-serif;
	font-size: 1.17vw;
	text-decoration: underline;
	margin-right: 40px;
}

.bleu-poprock {
	width: 25px;     /* Remplacez cette valeur par la largeur souhaitée */
	height: 20px;
	border-radius: 5px;     /* Remplacez cette valeur par la hauteur souhaitée */
	background-color: #02DED8;
	float: left;
    /* margin-left: 10px ; */
}

.rouge-others {
	width: 25px;     /* Remplacez cette valeur par la largeur souhaitée */
	height: 20px;
	border-radius: 5px;     /* Remplacez cette valeur par la hauteur souhaitée */
	background-color: #FF3030;
	float: left;
    margin-left: 15px;
}

.text-legende {
	margin-left: 10px;
}

.wrapper {

    display: flex;
    height: fit-content;
    align-items: center;
    flex-direction: row;
	width: 100%;

}

/*graphic*/
.titre-graphic {
	margin-right: 100px;
	margin-left: 100px;
	margin-top: 50px;
	display: flex;
}

.stat p {
	color: white;
	font-family: 'Kanit', sans-serif;
	font-size: 1.17vw;
}

/*iframe*/
iframe {
	margin-bottom: px;
	margin-left: 50px;
}

.titre-iframe-pop, .titre-iframe-rock {
	color: white;
	font-family: 'Kanit', sans-serif;
	font-size: 1.17vw;
	text-align: center;
	/* text-decoration: underline #02DED8; */
}

/*Constats*/
.constats {
	height: 100vh;
}

.constats {
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: 1fr;
	grid-column-gap: 120px;
	grid-row-gap: 0px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 100px;
	margin-right: 100px;
	place-items: center;
}

.titre-constats {
	color: white;
	font-family: 'Kanit', sans-serif;
	font-size: 3vw;
	border-bottom: 5px solid white;
	border-bottom-width: 100%;
	border-bottom: 31.25%;
	margin-bottom: 21px;
}

.constatext p {
	color: white;
	font-family: 'Kanit', sans-serif;
	font-size: 1.17vw;
}

/*A Propos*/
.A-propos {
	
	display: flex;
	align-items:center;
	justify-content: center;
	height: 100vh;
	margin-left: 98px;
	margin-right: 98px;
	/* margin-top: 100px;
	margin-bottom: 100px; */
}

.titre-apropo {
	color: white;
	font-family: 'Kanit', sans-serif;
	font-size: 3vw;
	border-bottom: 5px solid white;
	border-bottom-width: 50%;
	margin-bottom: 90px;
}

.logo-minia {
	width: 64px;
	height: 56px;
	float: right;
}

.A-propos p {
	color: white;
	font-family: 'Kanit', sans-serif;
	font-size: 1.17vw;
}

.mention-legale-titre{
	color:white ;
	font-family: 'Kanit', sans-serif;
	font-size: 1.17vw;
	text-decoration-line: underline;

}

/*Final*/
.finale {
	/* display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 56px;
	grid-row-gap: 0px; */
	margin-right: 100px;
	margin-left: 100px;
}

.logo-final {
	display: flex;
	align-items: center;
	width: 378px;
	height: 366px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin: auto;
}

.finale p {
	color: white;
	font-family: 'Kanit', sans-serif;
	font-size: 1.17vw;
}

.eqContainer {
	position: absolute;
	z-index: -399;
	width: 38.5%;
	height: 85%;
}

.dot {
	fill: #005eff;
}

.line-1 {
	position: relative;
	top: 50%;
	width: 20.18em;
	margin: 0 auto;
	border-right: 2px solid rgba(255, 255, 255, .75);
	font-size: 180%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.sourcegraph {

	margin-top: 0;
	margin-bottom: 0;

}

a {

	text-decoration: none;
	color: white;

}

.divlogofinal {
	height: fit-content;
}